body{
    text-align: center;
}

.devblog{
    border: 3px;
    border-radius: 10px;
    background-color: wheat;
    margin: 20px;
    padding: 20px;
}



.box{
    border: 3px;
    border-radius: 10px;
    border-color: grey;
    border-style: solid;
    padding:20px;
}

.weeks{
    text-decoration: underline;
    font-weight: bold;
}


  
td, th {
    border: 1px solid rgb(247, 160, 0);
    text-align: center;
    padding: 10px;
}

table.center {
    border-collapse: collapse;
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}